@import url(/static/css/root.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#credentials-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: fit-content;
    height: fit-content;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0px 0px 7px 0px grey;
}

#title {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.credentials-input {
    width: 300px;
    height: 20px;

    padding: 0.3em 0.4em;
    
    border: none;
    border-bottom: 2px black solid;

    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    font-style: normal;
}

.credentials-input:focus {
    border-bottom-color: var(--te-py);
    outline: none;
}

.credentials-label {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    font-style: normal;
    
}

#credentials-submit {
    padding: 0.8em 1.6em;

    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;

    cursor: pointer;

    border: none;
    border-radius: 0.5em;

    color: white;

    background-color: var(--te-py);
}

.credentials-hyperlink {
    color: var(--te-sy);

    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
}
.credentials-hyperlink:visited {
    color: var(--te-ty);
}

#errors-container {
    background-color: var(--sc-cn);
    
    padding: 15px;

    border-radius: 10px;

    width: 100%;
}

#errors-header {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;

    margin: 0;
    margin-bottom: 0.8em;
}

.error-msg {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    font-style: normal;
    
    margin: 0;
}

@media (max-width: 740px) {
    .row {
        flex-direction: column;
    }
}