<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/credentials.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Signup</title>
</head>
<body>
    <form action="/api/44195" method="post">
        {{ signup_form.csrf_token() }}
        <div id="credentials-form">
            <h1 id="title">Create account</h1>
            <div id="naming-column" class="row">
                <div class="input-container">
                    <label for="forename-input" class="credentials-label">Forename</label>
                    <input type="text" name="forename" id="forename-input" class="credentials-input" autocomplete="given-name" spellcheck="false" required>
                </div>
                <div class="input-container">
                    <label for="surname-input" class="credentials-label">Surname</label>
                    <input type="text" name="surname" id="surname-input" class="credentials-input" autocomplete="family-name" spellcheck="false" required>
                </div>
            </div>
            
            <div id="birthdate-column" class="row">
                <div class="input-container">
                    <label for="birthdate-input" class="credentials-label">Birthdate</label>
                    <input type="date" name="birthdate" id="birthdate-input" class="credentials-input" autocomplete="bday" spellcheck="false" required>
                </div>
            </div>
            
            <div id="Identification-column" class="row">
                <div class="input-container">
                    <label for="Email-input" class="credentials-label">Email</label>
                    <input type="email" name="email" id="email-input" class="credentials-input" autocomplete="email" spellcheck="false" required>
                </div>
    
                <div class="input-container">
                    <label for="username-input" class="credentials-label">Username</label>
                    <input type="username" name="username" id="username-input" class="credentials-input" autocomplete="username" spellcheck="false" required>
                </div>
            </div>
            
            <div id="password-column" class="row">
                <div class="input-container">
                    <label for="password_alpha-input" class="credentials-label">Password</label>
                    <input type="password" name="password_alpha" id="password_alpha-input" class="credentials-input" autocomplete="new-password" spellcheck="false" required>
                </div>
                
                <div class="input-container">
                    <label for="password_beta-input" class="credentials-label">Re-enter password</label>
                    <input type="password" name="password_beta" id="password_beta-input" class="credentials-input" autocomplete="new-password" spellcheck="false" required>
                </div>
            </div>
            <button type="submit" id="credentials-submit">Create account</button>
            <a href="/login" class="credentials-hyperlink">Already have an account? Login here</a>

            {% if errors %}
                <div id="errors-container">
                    <h2 id="errors-header">Heads up!</h2>
                    {% for error in errors %}
                        <p class="error-msg">{{ errors[error][0] }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </form>
</body>
</html>